<button (click)="getToken();">Get access token</button><br /><br />
<button (click)="revokeToken();">Revoke token</button>

<section class="dashboard">
  <div class="dashboard-form">
    <mat-vertical-stepper [linear]="false" #stepper animationDuration="1000">
      <mat-step [stepControl]="applicationDateFormGroup">
        <form [formGroup]="applicationDateFormGroup">
          <ng-template matStepLabel>{{
            stepNames.ApplicationDate
            }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.ApplicationDate" formControlName="applicationDate"
              [matDatepicker]="pickerApplicationDate" />
            <mat-hint>DD.MM.YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerApplicationDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerApplicationDate></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>{{ stepNames.Name }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Name" formControlName="name" [matAutocomplete]="autoName" />
            <mat-autocomplete #autoName="matAutocomplete">
              <mat-option *ngFor="let option of filteredNames | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="maleFormGroup">
        <form [formGroup]="maleFormGroup">
          <ng-template matStepLabel>{{ stepNames.Male }}</ng-template>
          <mat-button-toggle-group name="name" [formControl]="male">
            <mat-button-toggle value="Мужской">Мужской</mat-button-toggle>
            <mat-button-toggle value="Женский">Женский</mat-button-toggle>
          </mat-button-toggle-group>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sessionDateFormGroup">
        <form [formGroup]="sessionDateFormGroup">
          <ng-template matStepLabel>{{ stepNames.SessionDate }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.SessionDate" formControlName="sessionDate"
              [matDatepicker]="pickerSessionDate" />
            <mat-hint>DD.MM.YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerSessionDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerSessionDate></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="linkFormGroup">
        <form [formGroup]="linkFormGroup">
          <ng-template matStepLabel>{{ stepNames.Link }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Link" formControlName="link" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sourceFormGroup">
        <form [formGroup]="sourceFormGroup">
          <ng-template matStepLabel>{{ stepNames.Source }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Source" formControlName="source" [matAutocomplete]="autoSource" />
            <mat-autocomplete #autoSource="matAutocomplete">
              <mat-option *ngFor="let option of filteredSources | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="phoneFormGroup">
        <form [formGroup]="phoneFormGroup">
          <ng-template matStepLabel>{{ stepNames.Phone }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Phone" formControlName="phone" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sketchFormGroup">
        <form [formGroup]="sketchFormGroup">
          <ng-template matStepLabel>{{ stepNames.Sketch }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Sketch" formControlName="sketch" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="paymentMadeFormGroup">
        <form [formGroup]="paymentMadeFormGroup">
          <ng-template matStepLabel>{{ stepNames.PaymentMade }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.PaymentMade" formControlName="paymentMade" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="paymentFormGroup">
        <form [formGroup]="paymentFormGroup">
          <ng-template matStepLabel>{{ stepNames.Payment }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Payment" formControlName="payment" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="statusFormGroup">
        <form [formGroup]="statusFormGroup">
          <ng-template matStepLabel>{{ stepNames.Status }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Status" formControlName="status" [matAutocomplete]="autoStatus" />
            <mat-autocomplete #autoStatus="matAutocomplete">
              <mat-option *ngFor="let option of filteredStatus | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="cityFormGroup">
        <form [formGroup]="cityFormGroup">
          <ng-template matStepLabel>{{ stepNames.City }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.City" formControlName="city" [matAutocomplete]="autoCity" />
            <mat-autocomplete #autoCity="matAutocomplete">
              <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="commentFormGroup">
        <form [formGroup]="commentFormGroup">
          <ng-template matStepLabel>{{ stepNames.Comment }}</ng-template>
          <mat-form-field>
            <input matInput [placeholder]="stepNames.Comment" formControlName="comment" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="btn-back" color="primary">
              Back
            </button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ btnName }}</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious class="btn-back" color="primary">
            Back
          </button>
          <button mat-button (click)="save()">{{ btnName }}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</section>