@use 'mixins' as mixins;

:host {
  .dashboard {
    @include mixins.flex(flex-start, flex-start);

    &-form {
      @include mixins.flex(flex-start, flex-start);
      width: 100%;

      .mat-stepper-vertical {
        width: 100%;
      }

      .mat-mdc-form-field {
        width: 100%;
      }
    }
  }
  .example-input-wrapper {
    margin-bottom: 16px;
  }
  
  label {
    margin-right: 4px;
  }

  .btn-back {
    margin-right: 1rem;
    color: var(--primary) !important;
    background-color: var(--gray) !important;
  }

  .mat-button-toggle-group {
    margin-bottom: var(--offset);
  }
}
